.highscoreTable {
  width: 100%;
}

.highscoreTable td {
  padding: 3px 0;
  text-align: left;
}

.highscoreTable tr.updated td {
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
}

.highscoreTable tr.updated:first-child td {
  border-top: none;
}

.scoreColumn {
  max-width: 20px;
  text-align: right;
}
