.formRow {
  margin-bottom: 20px;
}

.formRow label {

}

.formRow input {
  display: block;
  width: 100%;
  background-color: white;
  border: none;
  font-size: 1.5em;
  padding: 0.2em;
  font-family: 'Roboto', sans-serif;
}

.formRow input:invalid {
  background-color: #ffbbbb;
}
