@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif !important;
  color: white;
  height: 100%;
  overflow: hidden;
}

#game {
  font-family: 'Roboto' !important;
  overflow: hidden;
}

canvas {
  cursor: url(../assets/images/invisible.png), none !important
}

button {
  display: block;
  font-size: 1.5em;
  border: 0;
  background-color: white;
  padding: 0.2em;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
